p1 {
    position: relative;
	float: left;
	background-color: white;
}

p2 {
    position: relative;
	float: right;
}

.body1 {
    position:absolute;
    bottom: 5%;
}

.gameroomBackground {
    background-image: url('../Gameroom.jpg');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
}