p1 {
    position: relative;
	float: left;
	background-color: white;
}

p2 {
    position: relative;
	float: right;
}

.body1 {
    position:absolute;
    bottom: 5%;
}

.gameroomBackground {
  background-image: url("../Gameroom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
