.input1 {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 300px;
}

button {
  background-color: white;
  color: black;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
