

.Story {
  color: white;
}

.StoryButton {
  color: black;
  width: 200px;
  
}

.card-container{
  margin: 10px 10px;
  display: grid;
  grid-gap: 10px;
  /* 1fr is one fractional unit. */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(1fr);
  
  
}

.card-item{
  color: black;
}

.card-item:hover{
  background-color: blue;
  color: white;
}





