.flex-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20vw;
  min-width: 240px;
  max-height: 90%;
  margin-left: auto;
  
  overflow: auto;

  background-color : rgb(255, 255, 255);
  
  display: flex;

  flex-flow: row; 
  justify-content: space-between;

  padding: 5px;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 15px;
}
.player {
  display: inline-block;
  list-style: none;
  font-size: large;
  padding: 0;
  max-width: 90%;
}
.status {
  display: inline-block;
  list-style: none;
  font-size: large;
  padding: 0;
}

.boldName {
  font-weight: bold;
}
