<!DOCTYPE html>
<html>
    <head>
        <title>Planning Poker</title>
        <style>
        
        </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <input type="text" name="username" id="usernameID">
        <button id="continue">Continue</button>
        <form>
            
        </form>
    <script>
    var socket = io.connect('http://10.82.64.65:8080');
    </script>
    </body>

</html>