
<!DOCTYPE html>
<html>
  <head>
    <title>Planning Poker</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:32px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
  position: -webkit-sticky;
  position: sticky;
  top:70 px;
  right: 15px;
}
    </style>
    <link href="style.css" rel="stylesheet">
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <p id="usernamePrint"></p>
    <ul id="messages"></ul>

    <!--Making the buttons-->
    <button class="myButton" id="1">1</button>
    <button class="myButton" id="2">2</button>
    <button class="myButton" id="3">3</button>
    <button class="myButton" id="5">5</button>
    <br>
    <button class="myButton" id="8">8</button>
    <button class="myButton" id="13">13</button>
    <button class="myButton" id="21">21</button>
    <button class="myButton" id="?">?</button>
    <br>
    </form>
    <script>
            var socket = io.connect('http://10.82.69.1:8080');
            // Asks for username
            var username = prompt('Enter your name');
            socket.emit('username', username);

            // Printing Usernames
            socket.on('currentUsernames', function(usernameList, usernameListLength) {
              for (var i = 0; i < usernameListLength; i++) {
              document.getElementById("usernamePrint").innerHTML = usernameList[0];
            }
            })

    </script>
    <!--
    <input type="text" name="username" id="usernameID"> 
    <output name="username" for="usernameID"></output>
    <button if="username">username</button>-->
  </body>
</html>